{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Portfolio design -->
<section class="portfolio " id="portfolio">
    <h2 class="heading">Latest<span>project</span></h2>
    <div class="portfolio-continer">

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/1.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Salary Prediction Model + EDA</h4>
                <!-- <p>Check out my latest project: Cloning YouTube.com with HTML and CSS!.</p> -->
                <a href="https://www.kaggle.com/code/shaikshakibs/salary-prediction-model-eda">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/2.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Student Performance Analysis and Prediction Website</h4>
                <!--<p>Python Assignments Mastered: Check out Our Completed Assignments Uploaded on GitHub!.</p>-->

                <a href="https://www.kaggle.com/code/shaikshakibs/predicting-student-performance">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/3.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Detecting Plagiarism</h4>
                <!--<p>Check out my latest python exercises repository.</p>-->

                <a href="#">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/4.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Predicting Student Performance</h4>
                <!--<p>How to define variable in python? | page design by using HTML and CSS.</p>-->

                <a href="#">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/5.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Movies Recommender System</h4>
                <!--<p>It is an efficiently designed and responsive login page in #HTML and #CSS.</p>-->

                <a href="#">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/6.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Heart Attack Prediction Analysis (Logistic Regression)</h4>
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->

                <a href="https://www.kaggle.com/code/shaikshakibs/heart-attack-prediction-analysis-logistic-reg">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/6.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Car Price Prediction (Linear Regression - RFE)</h4>
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->

                <a href="https://www.kaggle.com/code/shaikshakibs/car-price-prediction">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img class='main-img' src="{% static 'Projects-img/6.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Portfolio Website using Django</h4>
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->

                <a href="#">
                    <img src="{% static 'icons/bx-link-external.svg' %}" alt="">
                </a>
            </div>
        </div>

    </div>
</section>
{% endblock content %}